.button{
    -fx-font-family: "DePixel";
    -fx-font-size:  12;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-width : 1px;
    -fx-border-color:#D6EAF8;

}

.button:hover{
    -fx-background-color: green;
    -fx-border-color: cyan;
    -fx-text-fill: white;
}


